{% extends 'base.html' %}

{% block title%}BROWSE {% endblock %}
    <script src="/static/js/script.js"></script>
{% block styles %}
{{ super()}}
<style>
.blank{
height:200px;
margin-right:50px;
margin-left:50px;
}
form{
font-size:25px;
margin-right:50px;
margin-left:50px;
}


</style>

{% endblock%}
{% block head %}
<script src="/static/tool/jquery.pagination.js"></script>
<link rel="stylesheet" type="text/css" href="/static/css/pagination.css" />
<script>
    $("#Pagination").pagination(56, {
    num_edge_entries: 2,
    num_display_entries: 4,
    callback: pageselectCallback,
    items_per_page:1
});
</script>
{% endblock %}
{% block body%}
    <div class=blank></div>
    <div>
        <form>
            <select>
                <option >species</option>
                <option>species2</option>
                <option>species3</option>
            </select>
            <select>
                <option >anti.species</option>
                <option>species2</option>
                <option>species3</option>
            </select>
            <select>
                <option>Diseases</option>
                <option>species2</option>
                <option>species3</option>
            </select>
            <select>
                <option>MHC_type</option>
                <option>species2</option>
                <option>species3</option>
            </select>
            <select>
                <option>TCR_type</option>
                <option>species2</option>
                <option>species3</option>
            </select>
            <input type="reset" value="refresh filter">
        </form>

    </div>

{% endblock %}